html, body {
    height: 100%;
    background-color: white;
}

.alert {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    margin-bottom: 0;
}

.logo {
    width: 7rem;
    margin-right: 1rem;
}

.jumbotron {
    padding-bottom: 2rem;
}

.login-lang {
    margin-top: 2rem;
    float: right;
    margin-right: 3rem;
}

.lang-group {
    margin-right: 2rem;
}