small {
    margin-bottom: 1rem;
}

.table-responsive {
    margin-top: 2rem;
}

p {
    margin-bottom: 0px;
}

.jumbotron {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 80%!important;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.table td, .table th {
    vertical-align: middle!important;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .jumbotron {
        width: 70%!important;
        padding-bottom: 2rem 1rem;
    }
}