small {
    margin-bottom: 1rem;
}

p {
    margin-bottom: 0px;
}

input {
    background-color: white!important;
}

.lead {
    margin-bottom: 1rem;
}

.btn-disabled:disabled {
    opacity: 1!important;
}

.mb-3 {
    float: right;
}

.poll-link {
    background-color: #e9ecef!important;
}

.link-icon {
    background-color: #6c757d;
    color: white;
}

.copy-button {
    background-color: none;
    color: #6c757d;
}

.accept-button {
    width: 8rem;
    float: right;
    margin-top: 1rem;
}

.table-responsive {
    margin-top: 2rem;
}

.jumbotron {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1rem;
    width: 80%!important;
    padding-bottom: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.table td {
    vertical-align: middle!important;
}

.other-option-button {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.lead-icon {
    font-size: 20px;
    margin-right: 0.5rem;
}

.accept-button {
    width: 8rem;
    float: right;
    margin-top: 1rem;
}

.editRow {
    margin-left: 0px;
}

.edit-icons {
    vertical-align: middle;
}

.add-option-button {
    width: 10rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0.5rem;
}

.edit-disabled {
    background-color: white;
}

input {
    margin-left: auto;
    margin-right: auto;
}

.date {
    width: 50%!important;
}

.startTime {
    width: 40%!important;
}

.endTime {
    width: 40%!important;
}

.table th {
    vertical-align: middle;
}

/* Small devices (landscape phones, 576px and up) */

@media (min-width: 576px) {
    .nav {
        width: 80%;
    }
    .jumbotron {
        width: 70%!important;
        padding-bottom: 2rem 1rem;
    }
    footer {
        display: block;
    }
}

/* Medium devices (tablets, 768px and up) */

@media (min-width: 768px) {
    .location {
        margin-top: 0rem;
    }
    .mb-3 {
        width: 40%;
    }
}

/* Large devices (desktops, 992px and up) */

@media (min-width: 992px) {
    .my-2 {
        display: none;
    }
    .btn-group {
        margin-bottom: 0rem;
    }
}

/* Extra large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    .my-2 {
        display: none;
    }
    .btn-group {
        margin-bottom: 0rem;
    }
}